.button {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: #eee;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
}

.barArea {
    float: left;
}

.bar {
    margin-top: 20px;
    margin-bottom: 20px;
}