.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 30px;
  outline: 1px solid black;
}

.title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

.App-header {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
